@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-gradient-xy: gradient-xy 3s ease infinite;

  @keyframes gradient-xy {

    0%,
    100% {
      background-size: 400% 400%;
      background-position: 0% 50%;
    }

    50% {
      background-size: 400% 400%;
      background-position: 100% 50%;
    }
  }
}

@utility render-auto {
  content-visibility: auto;
  contain-intrinsic-size: 1px 1000px;
}

@keyframes twinkle {

  0%,
  100% {
    opacity: 0.3;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }
}

@utility animate-twinkle {
  animation: twinkle 4s ease-in-out infinite;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}